// base meta
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no')
meta(name='description', content='Lian Creative Agency')
meta(name='keywords', content='Minimal Freelance Portfolio')
// theme Color for Chrome, Firefox OS and Opera
meta(name='theme-color', content='#fff')
