.first-s
  position: relative
  min-height: 350px
  img
    object-position: center
    object-fit: cover
    position: absolute
    z-index: -1
    width: 100%
    height: 100%
  &__container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start
    text-transform: uppercase
    min-height: 350px
    h1
      font-size: 48px
      font-weight: 300
      background-color: #000000
      letter-spacing: 4.8px
      color: #ffffff
      padding: 10px 40px
      margin-bottom: 40px
    p
      font-size: 18px
      font-weight: 300
      letter-spacing: 7.2px
      line-height: 1.33
      color: #000000
@media (max-width: 1120px)
  .first-s
    &__container
      h1
        font-size: 40px
@media (max-width: 800px)
  .first-s
    &__container
      align-items: center
      h1
        font-size: 34px
        margin-bottom: 30px
@media (max-width: 535px)
  .first-s
    &__container
      h1
        font-size: 25px
        margin-bottom: 20px
      p
        font-size: 16px
@media (max-width: 445px)
  .first-s
    &__container
      h1
        font-size: 18px
      p
        font-size: 12px
@media (max-width: 370px)
  .first-s
    &__container
      h1
        font-size: 15px
        line-height: 1.3