.banner
    img.banner__img(src=".../../img/about/fs-bg.jpg" alt="man working on a laptop")
    .banner__container.container
        h1.banner__title About The Agency
        p.banner__subtitle Welcome to Lian