// media queries (max-width)
$xl: '(max-width: 1600px)'
$lg: '(max-width: 1280px)'
$lgx: '(max-width: 1279px)'
$md: '(max-width: 1024px)'
$mdx: '(max-width: 1023px)'
$sm: '(max-width: 767px)'
$smx: '(max-width: 768px)'
$xs: '(max-width: 500px)'
$xxs: '(max-width: 374px)'

// media queries (min-width)
$xxl-min: '(min-width: 1921px)'
$xl-min: '(min-width: 1440px)'
$lg-min: '(min-width: 1280px)'
$md-min: '(min-width: 1025px)'
$mdx-min: '(min-width: 1024px)'
$sm-min: '(min-width: 768px)'
$xs-min: '(min-width: 501px)'

// fonts
$font-main: 'Roboto', sans-serif

// colors
$color-main: #902156 // pink
$color-text: #313335 // black
$color-hover: #FFCFE6 //hover-pink
$color-submain: #A82F69

// body
$container: 1170px

// layout
$header-height: 60px

\:root
  --footer-height: 751px
  @media #{$sm-min}
    --footer-height: 402px
  @media #{$mdx-min}
    --footer-height: 240px
