.first-screen
    .first-screen__container
        img(src="./img/slider-img1.jpg" alt="cup of coffee, pen, glasses and a phone on the desktop")
        h1 Lian Creative Agency
        p Minimal Freelance Portfolio
    .first-screen__container
        img(src="./img/slider-img2.jpg" alt="puzzled man with laptop")
        h1 Lian Creative Agency
        p Minimal Freelance Portfolio
    .first-screen__container
        img(src="./img/slider-img1.jpg" alt="cup of coffee, pen, glasses and a phone on the desktop")
        h1 Lian Creative Agency
        p Minimal Freelance Portfolio