section.portfolio
    .portfolio__block.container
        ul.portfolio__list.portfolio__block--margin
            -
                let portfolioList = [
                    'All',
                    'Logo',
                    'Mobile App',
                    'WordPress',
                    'Web Design',
                    'UI/IX',
                    'Branding'
                ]
            each portfolioItem in portfolioList
                li.portfolio__item=portfolioItem
        .portfolio__content
            -
                let portfolioWrapList = [
                    {
                        item: [
                            {
                                src: './img/portfolio-img9.jpg',
                                alt: 'two bottles'
                            },
                            {
                                src: './img/portfolio-img6.jpg',
                                alt: 'curved lamp'
                            },
                            {
                                src: './img/portfolio-img5.jpg',
                                alt: 'fork and spoon'
                            }
                        ]
                    },
                    {
                        item: [
                            {
                                src: './img/portfolio-img8.jpg',
                                alt: 'table with chairs',
                            },
                            {
                                src: './img/portfolio-img1.jpg',
                                alt: 'wall clock',
                            },
                            {
                                src: './img/portfolio-img3.jpg',
                                alt: 'chair in front and in profile',
                            },
                            {
                                src: './img/portfolio-img1.jpg',
                                alt: 'wall clock'
                            }
                        ]
                    },
                    {
                        item: [
                            {
                                src: './img/portfolio-img7.jpg',
                                alt: '3 chairs on top of each other'
                            },
                            {
                                src: './img/portfolio-img4.jpg',
                                alt: 'business card'
                            },
                            {
                                src: './img/portfolio-img2.jpg',
                                alt: '2 boxes from cosmetics'
                            }
                        ]
                    }
                ]
            each portfolioWrapItem in portfolioWrapList
                .portfolio__wrap
                    each portfolioImage in portfolioWrapItem.item
                        .portfolio__image
                            img(src=portfolioImage.src alt=portfolioImage.alt)