section.portfolio
    .portfolio__block.container
        ul.portfolio__list.portfolio__block--margin
            li.portfolio__item All
            li.portfolio__item Logo
            li.portfolio__item Mobile App
            li.portfolio__item WordPress
            li.portfolio__item Web Design
            li.portfolio__item UI/IX
            li.portfolio__item Branding
        .portfolio__content
            .portfolio__wrap
                .portfolio__image
                    img(src="./img/portfolio-img9.jpg" alt="two bottles" class="portfolio__img")
                .portfolio__image
                    img(src="./img/portfolio-img6.jpg" alt="curved lamp" class="portfolio__img")
                .portfolio__image
                    img(src="./img/portfolio-img5.jpg" alt="fork and spoon" class="portfolio__img")
            .portfolio__wrap.portfolio__wrap--order
                .portfolio__image
                    img(src="./img/portfolio-img8.jpg" alt="table with chairs" class="portfolio__img")
                .portfolio__image
                    img(src="./img/portfolio-img1.jpg" alt="wall clock" class="portfolio__img")
                .portfolio__image
                    img(src="./img/portfolio-img3.jpg" alt="chair in front and in profile" class="portfolio__img")
                .portfolio__image
                    img(src="./img/portfolio-img1.jpg" alt="wall clock" class="portfolio__img")
            .portfolio__wrap
                .portfolio__image.portfolio__image--first
                    img(src="./img/portfolio-img7.jpg" alt="3 chairs on top of each other" class="portfolio__img")
                .portfolio__image
                    img(src="./img/portfolio-img4.jpg" alt="business card" class="portfolio__img")
                .portfolio__image.portfolio__image--third
                    img(src="./img/portfolio-img2.jpg" alt="2 boxes from cosmetics" class="portfolio__img")