section.portfolio
    .portfolio-block.container
        ul.portfolio-block__nav.portfolio-block_margin
            li.portfolio-block__item All
            li.portfolio-block__item Logo
            li.portfolio-block__item Mobile App
            li.portfolio-block__item WordPress
            li.portfolio-block__item Web Design
            li.portfolio-block__item UI/IX
            li.portfolio-block__item Branding
        .portfolio-block__content.portfolio-block_margin
            .portfolio-block__wrap
                .portfolio-block__image
                    img(src="./img/portfolio-img9.jpg" alt="portfolio-photo" class="portfolio-block__img")
                .portfolio-block__image
                    img(src="./img/portfolio-img6.jpg" alt="portfolio-photo" class="portfolio-block__img")
                .portfolio-block__image
                    img(src="./img/portfolio-img5.jpg" alt="portfolio-photo" class="portfolio-block__img")
            .portfolio-block__wrap
                .portfolio-block__image
                    img(src="./img/portfolio-img8.jpg" alt="portfolio-photo" class="portfolio-block__img")
                .portfolio-block__image
                    img(src="./img/portfolio-img1.jpg" alt="portfolio-photo" class="portfolio-block__img")
                .portfolio-block__image
                    img(src="./img/portfolio-img3.jpg" alt="portfolio-photo" class="portfolio-block__img")
                .portfolio-block__image
                    img(src="./img/portfolio-img1.jpg" alt="portfolio-photo" class="portfolio-block__img")
            .portfolio-block__wrap
                .portfolio-block__image
                    img(src="./img/portfolio-img7.jpg" alt="portfolio-photo" class="portfolio-block__img")
                .portfolio-block__image
                    img(src="./img/portfolio-img4.jpg" alt="portfolio-photo" class="portfolio-block__img")
                .portfolio-block__image
                    img(src="./img/portfolio-img2.jpg" alt="portfolio-photo" class="portfolio-block__img")
        button.portfolio-block__btn Load More