doctype html
html(lang='en')
    head
        include meta/meta
        title Lian
        include link/link
    body
        include components/icons/icons

        include layout/header

        include blocks/about/first-screen
        include blocks/about/about
        include blocks/about/team

        include layout/footer
        include scripts/scripts
