doctype html
html(lang='en')
    head
        include meta/meta
        title Lian
        include link/link
    body
        include components/icons/icons

        include layout/header

        include blocks/blog/banner
        include blocks/contact/contact
        include blocks/contact/map
        include blocks/contact/values

        include layout/footer
        include scripts/scripts