doctype html
html(lang='en')
    head
        include meta/meta
        title Lian
        include link/link
    body
        include components/icons/icons

        include layout/header

        include blocks/portfolio/banner
        include blocks/portfolio/project
        include blocks/portfolio/works

        include layout/footer
        include scripts/scripts
