section.banner
    img.banner__img(src=".../../img/about/fs-bg.jpg" alt="background")
    .banner__container.container
        h1.banner__title Get in Touch
        p.banner__subtitle Contact us Today