section.contact
    .contact__container.container
        .contact__info.contact__info--margin
            .contact__wrap
                h2.contact__title Office Info
                p.contact__subtitle People Behind the Success of our Company
            .contact__wrap
                p.contact__item Office Hours: Mon-Friday 8am - 10pm
                p.contact__item Address: Igbalangao, Bugasong, Antique
            .contact__wrap
                p.contact__number Tell: 123-456-7890
                p.contact__number Fax: 123-456-7890
        form.contact__form
            .contact__inner
                input.contact__form-input(type='text' name='username' placeholder='Name')
                input.contact__form-input(type='email' name='email' placeholder='Email')
            textarea.contact__form-input(name='message' placeholder='Message')
            input.contact__form-submit(type='submit' name='submit' value='Send Message')