.banner
    img.banner__img(src="./img/portfolio-det/fs-bg.jpg" alt="background")
    .banner__container.container
        h1.banner__title Latest Project
        p.banner__subtitle We Deliver Quality