section.works
    .works__container.container
        .works__heading
            h2.works__title Related Works
            p.works__subtitle Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
        .works__wrap
            -
                let worksList = [
                    {
                        src: './img/portfolio/photo1.jpg',
                        alt: 'iron stool'
                    },
                    {
                        src: './img/portfolio/photo2.jpg',
                        alt: '3 lamps'
                    },
                    {
                        src: './img/portfolio/photo3.jpg',
                        alt: '4 chairs, 3 of which stand on top of each other'
                    }
                ]
            each worksItem in worksList
                img.works__img(src = worksItem.src alt = worksItem.alt)