.portfolio
  background-color: $background-color-main
  padding: 30px 0
  &__block
    display: flex
    flex-direction: column
    justify-content: space-between
    &--margin
      margin-bottom: 30px
  &__list
    display: flex
    flex-direction: row
    justify-content: center
    padding: 25px 0
    border-top: 1px solid $color-submain
    border-bottom: 1px solid $color-submain
  &__item
    font-size: 14px
    font-weight: 700
    text-transform: uppercase
    color: #777777
    &:not(:last-child)
      margin-right: 40px
      position: relative
    &:after
      content: ''
      position: absolute
      top: 50%
      right: -20px
      transform: translateY(-50%) rotate(25deg)
      width: 1px
      height: 30px
      background-color: $color-submain
  &__content
    display: flex
    flex-direction: row
    flex-wrap: wrap
  &__wrap
    display: flex
    flex-direction: column
    &:not(:last-child)
      margin-right: 30px
  &__image
    margin-bottom: 30px

@media (max-width: 1169px)
  .portfolio
    &__content
      justify-content: space-around
      align-items: center
    &__wrap
      &:nth-child(2)
        order: 1
@media (max-width: 1139px)
  .portfolio
    &__wrap
      &:not(:last-child)
        margin-right: 0
      &:first-child
        margin-right: 30px
@media (max-width: 800px)
  .portfolio
    &__content
      flex-direction: column
    &__wrap
      &:first-child
        margin-right: 0
@media (max-width: 700px)
  .portfolio
    &__list
      display: none