footer.footer
    .footer-container
        .footer-container__img
            +logo-f
        .footer-container__socials
            a.footer-container__link(href="https://www.facebook.com/")
                +facebook
            a.footer-container__link(href="https://www.instagram.com/")
                +instagram
            a.footer-container__link(href="https://www.twitter.com/")
                +twitter
            a.footer-container__link(href="https://web.telegram.org/")
                +telegram
            a.footer-container__link(href="https://www.vk.com/")
                +vk
        .footer-container__description
            p © 2016 Mulitix Theme by ThemeForces. All Rights Reserved.