footer.footer
    .footer__container
        .footer__img
            +logo-footer
        .footer__socials
            a.footer__link(href="https://www.facebook.com/")
                +facebook
            a.footer__link(href="https://www.instagram.com/")
                +instagram
            a.footer__link(href="https://www.twitter.com/")
                +twitter
            a.footer__link(href="https://web.telegram.org/")
                +telegram
            a.footer__link(href="https://www.vk.com/")
                +vk
        .footer__description
            p © 2020 Mulitix Theme by stakansoljarki. All Rights Reserved.