header.header
    .header__wrap.container
        .header__logo
            +logo-header
        ul.header__navigation
            li.header__item
                a.header__link(href="index.html") Home
            li.header__item
                a.header__link(href="about.html") About
            li.header__item
                a.header__link(href="portfolio.html") Portfolio
            li.header__item
                a.header__link(href="blog.html") Blog
            li.header__item
                a.header__link(href="contact.html") Contact
        a.menu-btn(href="#")
            span.menu-span