header.header
    .header-wrap.container
        .header-logo
            +logo-h
        ul.header-navigation
            li.header-navigation__item
                a.header-navigation__link(href="home.html") Home
            li.header-navigation__item
                a.header-navigation__link(href="about.html") About
            li.header-navigation__item
                a.header-navigation__link(href="portfolio-details.html") Portfolio
            li.header-navigation__item
                a.header-navigation__link(href="blog.html") Blog
            li.header-navigation__item
                a.header-navigation__link(href="contact.html") Contact
        a.menu-btn(href="#")
            span.menu-span