-
    let articleContent = [
        {
            img: './img/blog/blog-clock.jpg',
            alt: 'clock',
            title: 'I am a Blog Post with an Awesome Image',
            authorImg: './img/blog/author.png',
            authorText: 'by Jenn Pereira',
            text: 'Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...',
            dateImg: './img/blog/date.png',
            dateText: 'on July 19, 2016'
        },
        {
            img: './img/blog/blog-bottle.jpg',
            alt: 'bottle',
            title: 'I am a Blog Post with an Awesome Image',
            authorImg: './img/blog/author.png',
            authorText: 'by Jenn Pereira',
            text: 'Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...',
            dateImg: './img/blog/date.png',
            dateText: 'on July 19, 2016'
        },
        {
            img: './img/blog/blog-cigarets.jpg',
            alt: 'cigarets',
            title: 'I am a Blog Post with an Awesome Image',
            authorImg: './img/blog/author.png',
            authorText: 'by Jenn Pereira',
            text: 'Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...',
            dateImg: './img/blog/date.png',
            dateText: 'on July 19, 2016'
        },
        {
            img: './img/blog/blog-chairs.jpg',
            alt: 'chairs',
            title: 'I am a Blog Post with an Awesome Image',
            authorImg: './img/blog/author.png',
            authorText: 'by Jenn Pereira',
            text: 'Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...',
            dateImg: './img/blog/date.png',
            dateText: 'on July 19, 2016'
        },
        {
            img: './img/blog/blog-lamp.jpg',
            alt: 'lamp',
            title: 'I am a Blog Post with an Awesome Image',
            authorImg: './img/blog/author.png',
            authorText: 'by Jenn Pereira',
            text: 'Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...',
            dateImg: './img/blog/date.png',
            dateText: 'on July 19, 2016'
        },
        {
            img: './img/blog/blog-table.jpg',
            alt: 'table',
            title: 'I am a Blog Post with an Awesome Image',
            authorImg: './img/blog/author.png',
            authorText: 'by Jenn Pereira',
            text: 'Proin semper suscipit magna, nec imperdiet lacus semper vitae. Sed hendrerit enim non justo posuere placerat eget purus mauris...',
            dateImg: './img/blog/date.png',
            dateText: 'on July 19, 2016'
        }
    ]
