section.banner
    img.banner__img(src=".../../img/blog/fs-bg.jpg" alt="fs-bg")
    .banner__container.container
        h1.banner__title News about lian
        p.banner__subtitle Latest news & insights